html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1 0 auto; /* El contenido principal se expande para llenar el espacio disponible */
}

.contactFooter {
  flex-shrink: 0; /* El footer no se encoge */
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #007BFF;
  box-shadow: 0 -2px 5px rgba(20, 20, 20, 0.1);
}

.socialContainer {
  margin-top: 5px;
}

.socialIcon {
  margin: 0 5px;
  font-size: 20px;
  color: white;
}

.contactInfo {
  margin-bottom: 5px;
  color: white;
}
