.home-container {
    text-align: center; /* Centrar todo el contenido */
  }
  
  .section-container {
    margin-bottom: 20px; /* Espacio entre las secciones */
    display: flex;
    flex-direction: column;
  }
  
  .featured-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para que los productos se ajusten en varias filas */
    background-color: rgba(214, 210, 217, 0.852);
    max-width: fit-content;
    align-self: center;
    border-radius: 25px;
    padding: 5px;
  }
  
  .product-card {
    margin: 10px; /* Espacio entre los productos */
  }

  
  .testimonial-box {
    width: 250px; /* Ancho del cuadro de testimonio */
    padding: 20px;
    border: 1px solid #ccc; /* Borde alrededor del cuadro de testimonio */
    border-radius: 5px; /* Bordes redondeados */
    margin: 10px; /* Espacio entre los cuadros de testimonios */
  }
  
  .bienvenido {
    font-weight: bold;
    padding: 5vh;
  }
  .subtitle {
    padding: 4vh;
  }

  .ps-productCard-buyButton{
    color: #007BFF;
  }

  .ps-productCard-moreInfo{
    color: #007BFF;
  }

.productos-destacados{
  margin-top: 20px;
  margin-bottom: 20px;
}