/* NavBar.css */
.navBar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 15px 30px; /* Ajusté el padding para que se vea más equilibrado */
  align-items: center;
  background-color: #333; /* Cambié el color de fondo a un tono más oscuro */
  color: #fff; /* Cambié el color del texto a blanco */
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Añadí una sombra para resaltar la barra */
}

.nb-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style-type: none; /* Eliminé los puntos de lista */
}

.nb-links li {
  margin: 0 10px; /* Añadí un margen entre los elementos de la lista */
}

.nb-link {
  text-decoration: none; /* Eliminé el subrayado predeterminado */
  color: #fff; /* Aseguré que el color del enlace sea blanco */
  transition: color 0.3s ease; /* Añadí una transición suave al color del texto */
}

.nb-link:hover {
  color: #ffd700; /* Cambié el color al pasar el cursor */
}
