#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: black;
}

/* Reset CSS */

/* Box sizing border-box por defecto */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalización de estilos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; /* Establecer una fuente genérica */
  line-height: 1.6; /* Establecer una altura de línea predeterminada */
}

ul,
ol {
  list-style: none; /* Eliminar viñetas o números de lista */
}

a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
  color: inherit; /* Heredar color de texto */
}


/*----------------------------- Product Cards -----------------------------*/

.ps-productCard {
  border: 1px solid hsl(0, 0% 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.ps-productCard-img-container {
  background-color: #F6F6F6;
  padding: 30px 0px;
}

.ps-productCard-img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ps-productCard-details{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
}

.ps-productCard-price{
  font-weight: bold;
  padding-top: 8px;
}

.ps-productCard-description{
  color: #2f2f2f;
}

.ps-productCard-actions{
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ps-productCard-productRate{
  color: yellowgreen;
}

.ps-productCard-buyButton{
  
}