

/* Reset CSS */

/* Box sizing border-box por defecto */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalización de estilos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}a

body {
  font-family: Arial, sans-serif; /* Establecer una fuente genérica */
  line-height: 1.6; /* Establecer una altura de línea predeterminada */
}

ul,
ol {
  list-style: none; /* Eliminar viñetas o números de lista */
}

a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
  color: inherit; /* Heredar color de texto */
}

